.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__yxt2K {
  width: 100%;
  height: auto;
  max-width: var(--token-EHVx73rK5bZb);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 64px;
  min-width: 0;
}
.columns__tgDoJ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  flex-shrink: 1;
  column-gap: 32px;
  min-width: 0;
  --plsmc-rc-col-gap: 32px;
}
.columns__tgDoJ > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__tgDoJ > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tgDoJ {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap-reverse;
    flex-shrink: 1;
    row-gap: 16px;
    min-width: 0;
    --plsmc-rc-col-gap: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tgDoJ > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fySmm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fySmm {
    width: 100%;
  }
}
.freeBox__il76H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__il76H {
    width: 100%;
    min-width: 0;
  }
}
.text___2IDfu {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__szDbj {
  position: relative;
  text-align: left;
}
.bullet__mvj2V:global(.__wab_instance) {
  position: relative;
}
.bullet__bCp9A:global(.__wab_instance) {
  position: relative;
}
.bullet___1Bmre:global(.__wab_instance) {
  position: relative;
}
.text__iFnoe {
  position: relative;
  text-align: left;
}
.freeBox___8BSgO {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  column-gap: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8BSgO {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    column-gap: 0px;
  }
}
.button___13Iq:global(.__wab_instance) {
  position: relative;
}
.svg__mLgyh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pQb9Z {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fw36:global(.__wab_instance) {
  position: relative;
}
.svg__zwYuD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__jMjL {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__qh59O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qh59O {
    width: 100%;
  }
}
.img__oMIw {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__oMIw > picture > img {
  object-fit: cover;
}
.columns___3GDzn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  column-gap: 32px;
  min-width: 0;
  --plsmc-rc-col-gap: 32px;
}
.columns___3GDzn > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns___3GDzn > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3GDzn {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 16px;
    min-width: 0;
    --plsmc-rc-col-gap: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3GDzn > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__dUnAt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__dUnAt {
    width: 100%;
  }
}
.img__h4JLy {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__h4JLy > picture > img {
  object-fit: cover;
}
.column___5MIcu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___5MIcu {
    width: 100%;
  }
}
.freeBox__qmt4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qmt4 {
    width: 100%;
    min-width: 0;
  }
}
.text__sUy3I {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__zSxcQ {
  position: relative;
  text-align: left;
}
.bullet__tHsFc:global(.__wab_instance) {
  position: relative;
}
.bullet__juub1:global(.__wab_instance) {
  position: relative;
}
.bullet__ifnP:global(.__wab_instance) {
  position: relative;
}
.text__jHuoU {
  position: relative;
  text-align: left;
}
.freeBox___1Nmyq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  column-gap: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Nmyq {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    column-gap: 0px;
  }
}
.button__rZxz9:global(.__wab_instance) {
  position: relative;
}
.svg__jrglD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__gNd1H {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___22CK1:global(.__wab_instance) {
  position: relative;
}
.svg___0Anf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__lchQv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
